/* navbar */
.navbar-custom-default {
    background-color: #005eff;
    border-color: #E7E7E7;
}
/* Title */
.navbar-custom-default .navbar-brand {
    color: #777;
}
.navbar-custom-default .navbar-brand:hover,
.navbar-custom-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-custom-default .navbar-nav > li > a {
    color: #777;
}
.navbar-custom-default .navbar-nav > li > a:hover,
.navbar-custom-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-custom-default .navbar-nav > .active > a,
.navbar-custom-default .navbar-nav > .active > a:hover,
.navbar-custom-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-custom-default .navbar-nav > .open > a,
.navbar-custom-default .navbar-nav > .open > a:hover,
.navbar-custom-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-custom-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-custom-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-custom-default .navbar-nav > .open > a .caret,
.navbar-custom-default .navbar-nav > .open > a:hover .caret,
.navbar-custom-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-custom-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-custom-default .navbar-toggle:hover,
.navbar-custom-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-custom-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-custom-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-custom-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-custom-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}