.div-header{
  text-align: center;
  background-color : #3F51B5;
  color : white;
  padding : 20px;
  font-size: 40px;
}
.div-footer{
  text-align: center;
  background-color : #5C6BC0;
  color : white;
  padding : 20px;
  margin-top: 20px;
}
.div-table{
  display:table;
  width:auto;
  /*border:1px solid  #666666;*/
  border-spacing:5px;
}
.div-table-row{
  background-color:#3949ab;
  display:table-row;
  width:auto;
  clear:both;
}
.div-table-col{
  padding: 10px;
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width: auto;
  color : #fff;
  background-color: #dedede;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: blue;
}
